@page "/"
@using Microsoft.AspNetCore.Authorization
@using SportsDayScoring.Data
@using static AppConstants
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

@* @attribute [Authorize] *@

<PageTitle>Home</PageTitle>

<div class="h-full flex flex-col justify-center items-center">
    <h1 class="text-4xl pb-4 text-center text-bold">McLaren Flat Sports Day</h1>
    <h2 class="text-3xl pb-8 text-center text-bold">@(DateTime.Now.Year)</h2>
    <div class="flex flex-col gap-4">
        <div class="flex gap-2">
            <select @bind="SelectedRoom" class="border border-black rounded-md p-2">
                <option selected disabled hidden>Select a room</option>
                @foreach (var room in RoomNumbers)
                {
                    <option value="@room">Room @room</option>
                }
            </select>
            <button @onclick="GoToClassEvents" disabled="@(SelectedRoom == null)"
                    class="border rounded-md p-2 text-lg @(SelectedRoom == null ? "bg-transparent" : HouseStyles[HouseNames[0]].BackgroundColour)">
                Class Events
            </button>
        </div>
        <button class="border rounded-md text-center text-lg p-2 @(HouseStyles[HouseNames[1]].BackgroundColour)"
                @onclick="GoToSchoolEvents">Whole School Events
        </button>
        <button class="border rounded-md text-center text-lg p-2 @(HouseStyles[HouseNames[2]].BackgroundColour)"
                @onclick="GoToSpirit">Award Spirit Points
        </button>
        <button class="border rounded-md text-center text-lg p-2 @(HouseStyles[HouseNames[3]].BackgroundColour)"
                @onclick="GoToScores">Score Cards
        </button>
        <button class="border rounded-md text-center text-lg p-2 bg-red-800" @onclick="SeedData">Reset data - do not
            touch
        </button>
    </div>
</div>

@code {
    [Inject] ApplicationDbContext Context { get; set; } = null!;
    int? SelectedRoom { get; set; } = null;

    void GoToClassEvents()
    {
        NavigationManager.NavigateTo($"/class-events/{SelectedRoom}");
    }

    private async Task SeedData()
    {
        var seed = new Seed(Context);
        await seed.SeedData();
    }

    private void GoToSchoolEvents()
    {
        NavigationManager.NavigateTo("/school-events");
    }

    private void GoToSpirit()
    {
        NavigationManager.NavigateTo("/spirit");
    }

    private void GoToScores()
    {
        NavigationManager.NavigateTo("/scores");
    }

}
