@page "/school-events"
@using SportsDayScoring.Models
@using System.Text.Json
@inject NavigationManager NavigationManager

<div class="flex flex-col gap-2 p-2 w-[300px] items-center justify-center mx-auto">
    <div class="flex gap-4 w-full items-center justify-center m-2">
        <select @bind=SelectedEvent class="border border-black bg-slate-200 font-bold text-center p-2 w-full">
            <option disabled selected hidden>Select Event</option>
            @foreach (var ev in Events) {
                <option value="@ev">@ev</option>
            }
        </select>
    </div>
    <div class="flex gap-4 w-[200px] items-center justify-center">
        <p class="font-bold">40 points</p>
        <select @bind=FourtyPoints class="font-bold border border-black p-2">
            <option disabled selected hidden></option>
            @for (int i = 0; i < HouseColours.Length; i++) {
                <option value="@HouseNames[i]">
                    <p class="h-[20px] w-[20px]">@HouseNames[i]</p>
                </option>
            }
        </select>
    </div>
    <div class="flex gap-4 w-[200px] items-center justify-center">
        <p class="font-bold">30 points</p>
        <select @bind=ThirtyPoints class="font-bold border border-black p-2">
            <option disabled selected hidden></option>
            @for (int i = 0; i < HouseColours.Length; i++) {
                <option value="@HouseNames[i]">
                    <p class="h-[20px] w-[20px]">@HouseNames[i]</p>
                </option>
            }
        </select>
    </div>
    <div class="flex gap-4 w-[200px] items-center justify-center">
        <p class="font-bold">20 points</p>
        <select @bind=TwentyPoints class="font-bold border border-black p-2">
            <option disabled selected hidden></option>
            @for (int i = 0; i < HouseColours.Length; i++) {
                <option value="@HouseNames[i]">
                    <p class="h-[20px] w-[20px]">@HouseNames[i]</p>
                </option>
            }
        </select>
    </div>
    @if (SelectedEvent == "Tug of War" || SelectedEvent == "Team Chants") {
        <div class="flex gap-4 w-[200px] items-center justify-center">
            <p class="font-bold">10 points</p>
            <select @bind=TenPoints class="font-bold border border-black p-2">
                <option disabled selected hidden></option>
                @for (int i = 0; i < HouseColours.Length; i++) {
                    <option value="@HouseNames[i]">
                        <p class="h-[20px] w-[20px]">@HouseNames[i]</p>
                    </option>
                }
            </select>
        </div>

    }
    <button class="@(error ? "bg-red-600" : "bg-green-600") font-bold p-2 w-full" @onclick=SaveScores>Save Scores</button>
    <a href="/" class="bg-sky-200 font-bold p-2 w-full text-center">Return Home</a>
</div>

@code {
    public List<House> Houses { get; set; } = [];
    public bool error;
    public readonly List<string> Events = ["Sprints", "Baton Relay", "Ribbon Relay", "Tug of War", "Team Chants"];
    public string? SelectedEvent { get; set; }

    public string? FourtyPoints { get; set; }
    public string? ThirtyPoints { get; set; }
    public string? TwentyPoints { get; set; }
    public string? TenPoints { get; set; }
    public string[] HouseColours = ["text-red-400", "text-blue-400", "text-green-400", "text-yellow-400"];
    public string[] HouseNames = ["Sturt", "Wickham", "Elliott", "Leslie"];

    protected override void OnInitialized() {
        var houses = JsonSerializer.Deserialize<List<House>>(File.ReadAllText("ScoreCards/SchoolEvents.json"));
        Houses = houses!;
    }

    public void SaveScores() {
        if (SelectedEvent is null || FourtyPoints is null || ThirtyPoints is null || TwentyPoints is null
            || (SelectedEvent == "Tug of War" && TenPoints is null) || (SelectedEvent == "Team Chants" && TenPoints is null)) {
            error = true;
            return;
        }
        if (SelectedEvent != "Team Chants") {
            Houses.First(h => h.Name == FourtyPoints).Events.First(e => e.Name == SelectedEvent).AthleticScore += 40;
            Houses.First(h => h.Name == ThirtyPoints).Events.First(e => e.Name == SelectedEvent).AthleticScore += 30;
            Houses.First(h => h.Name == TwentyPoints).Events.First(e => e.Name == SelectedEvent).AthleticScore += 20;
            if (SelectedEvent == "Tug of War") {
                Houses.First(h => h.Name == TenPoints).Events.First(e => e.Name == SelectedEvent).AthleticScore += 10;
            }
        }
        else {
            Houses.First(h => h.Name == FourtyPoints).Events.First(e => e.Name == SelectedEvent).SpiritScore += 40;
            Houses.First(h => h.Name == ThirtyPoints).Events.First(e => e.Name == SelectedEvent).SpiritScore += 30;
            Houses.First(h => h.Name == TwentyPoints).Events.First(e => e.Name == SelectedEvent).SpiritScore += 20;
            Houses.First(h => h.Name == TenPoints).Events.First(e => e.Name == SelectedEvent).SpiritScore += 10;
        }

        File.WriteAllText("ScoreCards/SchoolEvents.json", JsonSerializer.Serialize(Houses));
        NavigationManager.NavigateTo("/school-events", true);
    }
}
