@page "/scores"
@using SportsDayScoring.Models
@using System.Text.Json
@using SportsDayScoring.Data

@inject NavigationManager NavigationManager

<div class="p-2 w-full">
    <div class="flex flex-col gap-2">
        @foreach (var scoreCard in _scoreCards)
        {
            <div class="grid grid-rows-2 grid-cols-2 bg-red-400 py-4">
                <p class="text-lg text-center row-start-1 col-start-1 col-span-2 font-bold">@scoreCard.HouseName</p>
                <div class="row-start-2 col-start-1 flex flex-col justify-between items-center">
                    <p class="font-bold">Athletic Score</p>
                    @scoreCard.AthleticPoints
                </div>
                <div class="row-start-2 col-start-2 flex flex-col justify-center items-center">
                    <p class="font-bold">Spirit Score</p>
                    @scoreCard.SpiritPoints
                </div>
            </div>
        }
        @* $1$ Sturt #1# *@
        @* <div class="grid grid-rows-2 grid-cols-2 bg-red-400 py-4"> *@
        @*     <p class="text-lg text-center row-start-1 col-start-1 col-span-2 font-bold">Sturt</p> *@
        @*     <div class="row-start-2 col-start-1 flex flex-col justify-between items-center"> *@
        @*         <p class="font-bold">Athletic Score</p> *@
        @*         @_sturt.AthleticScore *@
        @*     </div> *@
        @*     <div class="row-start-2 col-start-2 flex flex-col justify-center items-center"> *@
        @*         <p class="font-bold">Spirit Score</p> *@
        @*         @_sturt.SpiritScore *@
        @*     </div> *@
        @* </div> *@
        @* $1$ Wickham #1# *@
        @* <div class="grid grid-rows-2 grid-cols-2 bg-blue-400 py-4"> *@
        @*     <p class="text-lg text-center row-start-1 col-start-1 col-span-2 font-bold">Wickham</p> *@
        @*     <div class="row-start-2 col-start-1 flex flex-col justify-between items-center"> *@
        @*         <p class="font-bold">Athletic Score</p> *@
        @*         @_wickham.AthleticScore *@
        @*     </div> *@
        @*     <div class="row-start-2 col-start-2 flex flex-col justify-between items-center"> *@
        @*         <p class="font-bold">Spirit Score</p> *@
        @*         @_wickham.SpiritScore *@
        @*     </div> *@
        @* </div> *@
        @* $1$ Elliott #1# *@
        @* <div class="grid grid-rows-2 grid-cols-2 bg-green-400 py-4"> *@
        @*     <p class="text-lg text-center row-start-1 col-start-1 col-span-2 font-bold">Elliott</p> *@
        @*     <div class="row-start-2 col-start-1 flex flex-col justify-between items-center"> *@
        @*         <p class="font-bold">Athletic Score</p> *@
        @*         @_elliott.AthleticScore *@
        @*     </div> *@
        @*     <div class="row-start-2 col-start-2 flex flex-col justify-between items-center"> *@
        @*         <p class="font-bold">Spirit Score</p> *@
        @*         @_elliott.SpiritScore *@
        @*     </div> *@
        @* </div> *@
        @* $1$ Leslie #1# *@
        @* <div class="grid grid-rows-2 grid-cols-2 bg-yellow-400 py-4"> *@
        @*     <p class="text-lg text-center row-start-1 col-start-1 col-span-2 font-bold">Leslie</p> *@
        @*     <div class="row-start-2 col-start-1 flex flex-col justify-between items-center"> *@
        @*         <p class="font-bold">Athletic Score</p> *@
        @*         @_leslie.AthleticScore *@
        @*     </div> *@
        @*     <div class="row-start-2 col-start-2 flex flex-col justify-between items-center"> *@
        @*         <p class="font-bold">Spirit Score</p> *@
        @*         @_leslie.SpiritScore *@
        @*     </div> *@
        @* </div> *@
    </div>
</div>
<div class="w-full text-right px-2 pb-2">
    <button class="bg-sky-200 font-bold p-2 mx-auto" @onclick="GoHome">Return Home</button>
</div>

@code {
    [Parameter] public DataService DataService { get; set; }
    private List<HouseScoreCard> _scoreCards = [];
    private (int AthleticScore, int SpiritScore) _sturt = (0, 0);
    private (int AthleticScore, int SpiritScore) _wickham = (0, 0);
    private (int AthleticScore, int SpiritScore) _elliott = (0, 0);
    private (int AthleticScore, int SpiritScore) _leslie = (0, 0);

    protected override async Task OnInitializedAsync()
    {
        _scoreCards = await DataService.GetHousesWithAggregatedScores();
    }

    // protected override void OnInitialized()
    // {
    //     List<Room> rooms = [];
    //     foreach (var room in AppConstants.RoomNumbers)
    //     {
    //         var classScores = JsonSerializer.Deserialize<Room>(File.ReadAllText($"ScoreCards/Room{room}.json"));
    //         rooms.Add(classScores!);
    //     }
    //
    //     foreach (var room in rooms)
    //     {
    //         foreach (var house in room.Houses)
    //         {
    //             switch (house.Name)
    //             {
    //                 case "Sturt":
    //                     _sturt.AthleticScore += house.Events.Sum(e => e.AthleticScore);
    //                     _sturt.SpiritScore += house.Events.Sum(e => e.SpiritScore);
    //                     break;
    //                 case "Wickham":
    //                     _wickham.AthleticScore += house.Events.Sum(e => e.AthleticScore);
    //                     _wickham.SpiritScore += house.Events.Sum(e => e.SpiritScore);
    //                     break;
    //                 case "Elliott":
    //                     _elliott.AthleticScore += house.Events.Sum(e => e.AthleticScore);
    //                     _elliott.SpiritScore += house.Events.Sum(e => e.SpiritScore);
    //                     break;
    //                 case "Leslie":
    //                     _leslie.AthleticScore += house.Events.Sum(e => e.AthleticScore);
    //                     _leslie.SpiritScore += house.Events.Sum(e => e.SpiritScore);
    //                     break;
    //             }
    //         }
    //     }
    //
    //     var wholeSchoolScores = JsonSerializer.Deserialize<List<House>>(File.ReadAllText("ScoreCards/SchoolEvents.json"));
    //     foreach (var house in wholeSchoolScores!)
    //     {
    //         switch (house.Name)
    //         {
    //             case "Sturt":
    //                 _sturt.AthleticScore += house.Events.Sum(e => e.AthleticScore);
    //                 _sturt.SpiritScore += house.Events.Sum(e => e.SpiritScore);
    //                 break;
    //             case "Wickham":
    //                 _wickham.AthleticScore += house.Events.Sum(e => e.AthleticScore);
    //                 _wickham.SpiritScore += house.Events.Sum(e => e.SpiritScore);
    //                 break;
    //             case "Elliott":
    //                 _elliott.AthleticScore += house.Events.Sum(e => e.AthleticScore);
    //                 _elliott.SpiritScore += house.Events.Sum(e => e.SpiritScore);
    //                 break;
    //             case "Leslie":
    //                 _leslie.AthleticScore += house.Events.Sum(e => e.AthleticScore);
    //                 _leslie.SpiritScore += house.Events.Sum(e => e.SpiritScore);
    //                 break;
    //         }
    //     }
    //
    //     var spiritScores = JsonSerializer.Deserialize<List<HouseSpirit>>(File.ReadAllText("ScoreCards/Spirit.json"));
    //     foreach (var house in spiritScores!)
    //     {
    //         switch (house.Name)
    //         {
    //             case "Sturt":
    //                 _sturt.SpiritScore += house.SpiritScore;
    //                 break;
    //             case "Wickham":
    //                 _wickham.SpiritScore += house.SpiritScore;
    //                 break;
    //             case "Elliott":
    //                 _elliott.SpiritScore += house.SpiritScore;
    //                 break;
    //             case "Leslie":
    //                 _leslie.SpiritScore += house.SpiritScore;
    //                 break;
    //         }
    //     }
    // }

    private void GoHome()
    {
        NavigationManager.NavigateTo("/");
    }

}
